body {
  width: 300px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 15px 0;
}

.btn-container {
  text-align: center;
}

input {
  width: 120px;
}
